{
    "plugins": [
      ["module-resolver", {
        "root": ["."],
        "alias": {
          "@components": "./src/components",
          "@constants": "./src/constants"
        }
      }]
    ]
  }