@use '~@matteusan/sentro';

@mixin init() {
  .pyc-icon__link {
    color: inherit;
  }
  
  .pyc-icon {
    display: inline-block;
    padding: 0.25rem;
    
    svg {
      vertical-align: top;
    }
  }
}
