@use '~@matteusan/sentro';
@use '../helpers';

@mixin init($color: 'blurple') {
  .pyc-button {
    width: 100%;
    min-width: 57px;
    max-width: max-content;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 0.4rem 0.6rem;
    font-size: clamp(#{sentro.px-to-rem(16px)}, 7vw, #{sentro.px-to-rem(18px)});
    font-weight: 700;
    border-radius: sentro.token-get('radius-small');
    cursor: pointer;
    user-select: none;
    @include sentro.prefix(transition, all 0.1s ease);
    
    & > * + * {
      margin-left: 0.5rem;
    }
    
    @include _text($color);
    
    &.pyc-button--inverted {
      @include _text('surface');
    }
    
    &.pyc-button--outlined {
      @include _outlined($color);
      
      &.pyc-button--inverted {
        @include _outlined('surface');
      }
    }
    
    &.pyc-button--filled {
      @include _filled($color);
      
      &.pyc-button--inverted {
        @include _filled('surface');
      }
    }
    
    .pyc-button__icon {
      display: grid;
      place-items: center;
      font-size: sentro.px-to-rem(24px);
      vertical-align: center;
      
      > svg {
        vertical-align: center;
        width: sentro.px-to-rem(24px);
        height: sentro.px-to-rem(24px);
        size: sentro.px-to-rem(24px);
      }
    }
    
    .pyc-button__label {
      font-size: inherit;
      font-weight: inherit;
      text-align: center;
    }
  }
}

@mixin _text($color: 'blurple') {
  background-color: sentro.key-create('button-fill', rgba(0 0 0 / 0));
  color: sentro.key-create('button-ink', sentro.token-get('#{$color}'));
  border: 1px solid sentro.key-create('button-border', rgba(0 0 0 / 0));
  
  &:hover,
  &:focus {
    @include sentro.key-bind('button-fill', rgba(sentro.token-get-raw('#{$color}'), 10%));
    @include sentro.key-bind('button-border', rgba(sentro.token-get-raw('#{$color}'), 1%));
  }
  
  &:active {
    @include sentro.key-bind('button-fill', rgba(sentro.token-get-raw('#{$color}'), 20%));
    @include sentro.key-bind('button-ink', sentro.token-get('#{$color}-light'));
    @include sentro.key-bind('button-border', rgba(sentro.token-get-raw('#{$color}'), 2%));
  }
  
  &:disabled {
    @include sentro.key-bind('button-ink', sentro.token-get('#{$color}-dark'));
    @include sentro.key-bind('button-border', sentro.token-get('#{$color}-dark'));
  }
}

@mixin _outlined($color: 'blurple') {
  background-color: sentro.key-create('button-fill', rgba(0 0 0 / 0));
  color: sentro.key-create('button-ink', sentro.token-get('#{$color}-ink'));
  border: 1px solid sentro.key-create('button-border', sentro.token-get('#{$color}'));
  
  &:focus {
    @include sentro.key-bind('button-fill', rgba(#fff, 10%));
    @include sentro.key-bind('button-border', sentro.token-get('#{$color}'));
  }
  
  &:hover {
    @include sentro.key-bind('button-fill', sentro.token-get('#{$color}'));
    @include sentro.key-bind('button-border', sentro.token-get('#{$color}'));
  }
  
  &:active {
    @include sentro.key-bind('button-fill', sentro.token-get('#{$color}-light'));
    @include sentro.key-bind('button-ink', sentro.token-get('#{$color}-ink'));
    @include sentro.key-bind('button-border', sentro.token-get('#{$color}-light') !important);
  }
  
  &:disabled {
    @include sentro.key-bind('button-ink', sentro.token-get('#{$color}-dark'));
    @include sentro.key-bind('button-border', sentro.token-get('#{$color}-dark'));
  }
}

@mixin _filled($color: 'blurple') {
  background-color: sentro.key-create('button-fill', sentro.token-get('#{$color}'));
  color: sentro.key-create('button-ink', sentro.token-get('#{$color}-ink'));
  border: 1px solid sentro.key-create('button-border', sentro.token-get('#{$color}'));
  
  &:hover {
    @include sentro.key-bind('button-fill', sentro.token-get('#{$color}'));
    @include sentro.key-bind('button-border', sentro.token-get('#{$color}'));
  }
  
  &:focus {
    @include sentro.key-bind('button-fill', sentro.token-get('#{$color}'));
    @include sentro.key-bind('button-border', sentro.token-get('#{$color}'));
  }
  
  &:active {
    @include sentro.key-bind('button-fill', sentro.token-get('#{$color}-light'));
    @include sentro.key-bind('button-ink', sentro.token-get('#{$color}-ink'));
    @include sentro.key-bind('button-border', sentro.token-get('#{$color}-light'));
  }
  
  &:disabled {
    @include sentro.key-bind('button-fill', sentro.token-get('#{$color}-dark'));
    @include sentro.key-bind('button-border', sentro.token-get('#{$color}-dark'));
  }
}
