@use '~@matteusan/sentro' with ($prefix: 'pyc', $context: 'theme');
@use 'helpers';

@use 'modules/pyc-button';
@use 'modules/pyc-hero';
@use 'modules/pyc-icon';
@use 'modules/pyc-user-card';
@use 'modules/pyc-title-bar';

@use 'infima/overrides';

@import url('https://fonts.googleapis.com/css2?family=Saira:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;700&display=swap');

:root {
  color-scheme: dark;
  @include sentro.token-config(
    $blurple: (
      'light': #909aff,
      'default': #5865f2,
      'dark': #2f3bbe,
      'ink': #fff
    ),
    $surface: (
      'light': #33373a,
      'default': #23272a,
      'dark': #17181a,
      'ink': #fff
    ),
    $error: (
      'default': #d93333,
      'ink': #fff
    ),
    $warning: (
      'default': #ffa012,
      'ink': #000
    ),
    $success: (
      'default': #1ea33c,
      'ink': #fff
    ),
    $radius: (
      'small': 0.3rem,
      'medium': 0.5rem,
      'large': 0.7rem
    ),
    $global: (
      'family': ('Outfit', sans-serif),
      'weight': 300,
    ),
    $title: (
      'family': ('Saira', monospace),
      'weight': 700
    ),
    $subtitle: (
      'family': ('Outfit', sans-serif),
      'weight': 700,
    ),
    $code: (
      'family': ('Fira Code', monospace),
      'weight': 400
    ),
    $discord: (
      'font-primary': (Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif),
      'font-display': (Ginto, "Helvetica Neue", Helvetica, Arial, sans-serif),
      'font-code': (
        Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
        "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace),
      'font-headline': (Ginto Nord, Ginto, "Helvetica Neue", Helvetica, Arial, sans-serif)
    )
  );
  --ifm-color-primary: #5865f2;
  --ifm-color-primary-dark: #3949f0;
  --ifm-color-primary-darker: #2a3bee;
  --ifm-color-primary-darkest: #1121d6;
  --ifm-color-primary-light: #7781f4;
  --ifm-color-primary-lighter: #868ff6;
  --ifm-color-primary-lightest: #b4baf9;
}

html {
  font-family: sentro.token-get('global-family');
  font-weight: sentro.token-get('global-weight');
}

* {
  margin: 0;
  padding: 0;
  color: inherit;
  box-sizing: inherit;
  
  font-family: inherit;
  font-weight: inherit;
  
  &::before,
  &::after {
    margin: 0;
    padding: 0;
    color: inherit;
    box-sizing: inherit;
  }
}

h1,
h2,
h3 {
  margin: 0;
  font-family: sentro.token-get('title-family');
  font-weight: sentro.token-get('title-weight');
}

h4,
h5,
h6 {
  margin: 0;
  font-family: sentro.token-get('subtitle-family');
  font-weight: sentro.token-get('subtitle-weight');
}

a {
  margin: 0;
  text-decoration: none;
  color: sentro.token-get('blurple');
  
  &:hover {
    text-decoration: none;
    color: sentro.token-get('blurple-light');
  }
}

code,
code * {
  margin: 0;
  font-family: sentro.token-get('code-family');
}

html {
  width: 100%;
  height: 100%;
  font-size: 100%;
  background-color: sentro.token-get('surface-dark');
  box-sizing: border-box;
}

body {
  background-color: sentro.token-get('surface-dark');
  color: sentro.token-get('surface-ink');
}

#__next {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.content-wrap {
  width: calc(100% - 30px);
  max-width: 1077px;
  margin: 0 auto;
  padding: #{sentro.px-to-rem(81px)} 0 1.5rem 0;
  
  &--home-page {
    width: calc(100% - 30px);
    max-width: 1077px;
    margin: 0 auto;
    padding: 2rem 0 1.5rem 0;
  }
}

.features {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  
  .feature {
    margin: 0 0.7rem;
    color: rgba(#b4b4b4, 80%);
    cursor: pointer;
    border-bottom: 3px solid rgba(0 0 0 / 0);
    @include sentro.prefix(transition, all 0.1s ease);
    
    &.active {
      color: #fff;
      border-color: #fff;
    }
    
    &:hover,
    &:focus {
      color: #fff
    }
  }
}

.call-to-action {
  height: 25vh;
  display: grid;
  place-items: center;
  margin: 2.3rem 0;
  text-align: center;
  
  .call-to-action__buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  
  @include helpers.breakpoint('medium') {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @include helpers.breakpoint('large') {
    grid-template-columns: repeat(3, 1fr);
  }
}

.emoji {
  -o-object-fit: contain;
  object-fit: contain;
  width: 1.375em;
  height: 1.375em;
  vertical-align: bottom;
}

.emoji.jumboable {
  height: 2.7em;
  width: 2.7em;
}

@font-face {
  font-family: Whitney;
  font-weight: 300;
  src: url(/static/fonts/whitney/whitney300.woff) format('woff');
}

@font-face {
  font-family: Whitney;
  font-weight: 400;
  src: url(/static/fonts/whitney/whitney400.woff) format('woff');
}

@font-face {
  font-family: Whitney;
  font-weight: 500;
  src: url(/static/fonts/whitney/whitney500.woff) format('woff');
}

@font-face {
  font-family: Whitney;
  font-weight: 600;
  src: url(/static/fonts/whitney/whitney600.woff) format('woff');
}

@font-face {
  font-family: Whitney;
  font-weight: 700;
  src: url(/static/fonts/whitney/whitney700.woff) format('woff');
}

.discord-messages {
  font-family: sentro.token-get('discord-font-primary') !important;
  // TODO: Figure out why this is necessary, and remove it.
  //       We Should be able to remove everything below here, but for some reason it doesn't work without it. Also, some
  //       of it hasn't been added to the component package yet anyways so that needs to be done.
  .discord-message {
    .discord-author-info {
      .discord-author-username {
        letter-spacing: unset;
        cursor: pointer;
      }
      &:not(.discord-interaction-author-info) .discord-author-username:hover {
        text-decoration: underline;
      }
      .discord-author-bot-tag {
        font-weight: 500;

      }
    }
    .discord-interaction {
      .discord-interaction-reply {
        cursor: pointer;
      }
      .discord-interaction-command {
        cursor: default;
        .discord-interaction-command-name {
          font-weight: 500;
          cursor: pointer;
        }
      }
      .discord-interaction-context-menu {
        .discord-interaction-command-name {
          cursor: unset;
        }
        .discord-interaction-command-name:hover {
          text-decoration: unset;
          opacity: 0.65;
        }
      }
    }
    .discord-message-timestamp {
      font-weight: 500;
      cursor: default;
    }
    .discord-buttons .discord-button {
      font-family: inherit;
    }
    font-weight: 400;
  }
}

@font-face{font-family:Ginto;font-weight:300;src:url(/static/fonts/ginto/ginto300.woff) format("woff")}
@font-face{font-family:Ginto;font-weight:400;src:url(/static/fonts/ginto/ginto400.woff) format("woff")}
@font-face{font-family:Ginto;font-weight:500;src:url(/static/fonts/ginto/ginto500.woff) format("woff")}
@font-face{font-family:Ginto;font-weight:600;src:url(/static/fonts/ginto/ginto600.woff) format("woff")}
@font-face{font-family:Ginto;font-weight:700;src:url(/static/fonts/ginto/ginto700.woff) format("woff")}
@font-face{font-family:Ginto;font-weight:300;font-style:italic;src:url(/static/fonts/ginto/ginto-italic300.woff) format("woff")}
@font-face{font-family:Ginto;font-weight:400;font-style:italic;src:url(/static/fonts/ginto/ginto-italic400.woff) format("woff")}
@font-face{font-family:Ginto;font-weight:500;font-style:italic;src:url(/static/fonts/ginto/ginto-italic500.woff) format("woff")}
@font-face{font-family:Ginto;font-weight:600;font-style:italic;src:url(/static/fonts/ginto/ginto-italic600.woff) format("woff")}
@font-face{font-family:Ginto;font-weight:700;font-style:italic;src:url(/static/fonts/ginto/ginto-italic700.woff) format("woff")}
@font-face{font-family:Ginto Nord;font-weight:500;src:url(/static/fonts/ginto-nord/ginto-nord500.woff2) format("woff2"),url(/static/fonts/ginto-nord/ginto-nord500.woff) format("woff")}
@font-face{font-family:Ginto Nord;font-weight:600;src:url(/static/fonts/ginto-nord/ginto-nord600.woff2) format("woff2"),url(/static/fonts/ginto-nord/ginto-nord600.woff) format("woff")}
@font-face{font-family:Ginto Nord;font-weight:700;src:url(/static/fonts/ginto-nord/ginto-nord700.woff2) format("woff2"),url(/static/fonts/ginto-nord/ginto-nord700.woff) format("woff")}


@include overrides.init();

@include pyc-button.init();
@include pyc-hero.init();
@include pyc-icon.init();
@include pyc-user-card.init();
@include pyc-title-bar.init();
